@font-face {
	font-family: 'JustMeAgainDownHere';
	src: url('../fonts/JustMeAgainDownHere.eot');
	src: url('../fonts/JustMeAgainDownHere.eot?#iefix') format('embedded-opentype'),
	url('../fonts/JustMeAgainDownHere.woff') format('woff'),
	url('../fonts/JustMeAgainDownHere.ttf') format('truetype'),
	url('../fonts/JustMeAgainDownHere.svg#JustMeAgainDownHere') format('svg');
	font-weight: normal;
	font-style: normal;
}
#logo_text {
	text-shadow: 0px 1px 0px rgb(255, 255, 255), 0px -1px 0px rgb(0, 0, 0);
	color: rgb(119, 119, 119);
	font-size: 42px;
	letter-spacing: -2.5px;
	text-decoration: none;
}
#logo_e{
	font:normal 40pt Arial;
	color:#99CC00;
	text-shadow: 1px 1px 5px black,
	0 2px 0 #c9c9c9,
	0 3px 0 #bbb,
	0 4px 0 #b9b9b9,
	0 5px 0 #aaa,
	0 6px 1px rgba(0,0,0,.1),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.25),
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.1);
}
body {
	padding-top: 20px;
	padding-bottom: 60px;
}

/* Custom container */
.container {
	margin: 0 auto;
	max-width: 1000px;
}
.container > hr {
	margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 80px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 100px;
	line-height: 1;
}
.jumbotron .lead {
	font-size: 24px;
	line-height: 1.25;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}


/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
	padding: 0;
}
.navbar .nav {
	margin: 0;
	display: table;
	width: 100%;
}
.navbar .nav li {
	display: table-cell;
	width: 1%;
	float: none;
}
.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	border-left: 1px solid rgba(255,255,255,.75);
	border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
	border-left: 0;
	border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
	border-right: 0;
	border-radius: 0 3px 3px 0;
}

div.form, div.index, div.view {
	float: none;
	border: none;
	width: auto;
}

div.actions {
	display: none;
}

dd {
	margin-left: 10em;
}

dt, dd {
	line-height: 2em;
}

#footer {
	background-color: rgb(245, 245, 245);
    	clear:both;
    	padding-top:20px;
    	text-align:left;
}

#napis{
	display:block;
	position:absolute;
	font-size: 55px;
	left: 120px;
	color: rgb(41, 42, 37);
	margin-top:-200px;
}

#info{
	font-family: 'JustMeAgainDownHere';
	margin-left: 10px;
}

.nav-tabs > li {
	margin-left: 0;
	margin-right: 0;
}

.nav-tabs > .active > a{
	cursor: pointer !important;
}

